.fa-shopping-cart {
    font-size: 1.2rem;
    color: white;
}

.navbar-dark .navbar-nav .nav-link {
    color: white
}

/* .dropdown {
    margin-top: 6px;
} */

.product-counter {
    font-size: 1rem;
    margin-right: .3rem;
}

.dropdown-menu {
    min-width: 30rem;
}
